/AstmaResults31.01.21/Garbage/
/AstmaResults31.01.21/Garbage/Others/
/AstmaResults31.01.21/Garbage/homozygous_allergic_asthma.jpeg
/AstmaResults31.01.21/Garbage/homozygous_asthma_alleles.jpeg
/AstmaResults31.01.21/Garbage/homozygous_asthma_severity.jpeg
/AstmaResults31.01.21/Garbage/plot_coef_bar_plot_asthma_allergic.py
/AstmaResults31.01.21/Garbage/plot_coef_bar_plot_asthma_severity.py
